{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Ano's Website</title>
</head>


<h1>Hello World!</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div id="status">
                <form action='' method="POST">
                    {% csrf_token %} {{ form }}
                    <div class="centre-items">
                        <input type="submit" class="btn btn-primary" value="Add Status" id="submit">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for status in status %}
                <tr>
                    <th>{{status.time}}</th>
                    <td>{{status.status}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>
